- content_for(:title) do
  Not found

- content_for(:breadcrumb) do
  %a{ :href => '/'} Carles Climent
  %a.current{ :href => '#'} Ouch!

%div.row
  %div.large-6.columns.large-centered
    %h1.text-center Ouch!
    %p
      I've done something terribly wrong. Please, contact me in
      %a{ :href => '/contact' } my contact page
