- content_for(:title) do
  Blog

- content_for(:breadcrumb) do
  %a{ :href => '/'} Carles Climent
  %a.current{ :href => '#'} Blog

%div.row#post
  %div.large-12.columns
    %h1.text-center Blog

    %ul
    - index.each do |post|
      %li.post.panel
        %h3
          %a{ :href => post.href }
            =post.title
        %p
          Published on
          =post.format_date

