- content_for(:title) do
  Blog

- content_for(:breadcrumb) do
  %a{ :href => '/'} Carles Climent
  %a.current{ :href => '#'} Blog



%div.row#post
  %h1.text-center Blog

  %div.large-12.columns
    %ul.no-bullet
      - index.page_posts.each do |post|
        %li.post.panel
          %date{ :date => post.date }
            =post.format_date
          %h3
            %a{ :href => post.href, 'data-disqus-identifier' => post.unique_id }
              =post.title

%div.row
  %div.large-12.columns
    = haml :_pager, :locals => { :index => index }