- content_for(:title) do
  Contact

- content_for(:breadcrumb) do
  %a{ :href => '/'} Carles Climent
  %a.current{ :href => '#'} Contact

%div.row
  %div.large-6.columns.large-centered
    %h1.text-center Contact
    %form#contact{ :action => "", :method => "post"}
      %div.row
        %fieldset
          %ul.no-bullet
            %li
              %label{:for => "email"} Your e-mail:
              %input{:type => "email", :name => "email", :class => "text", :required => true}
            %li
              %label{:for => "message"} Your message:
              %textarea.small-12.columns{:name => "message", :rows => 20}
      %div.row.text-center
        %input{:type => "submit", :value => "Send", :class => "button"}
