!!!
%html

  %head
    %title
      Carles Climent -
      = yield_content(:title)
    %link(rel="stylesheet" href="/stylesheets/foundation.min.css")
    %link(rel="stylesheet" href="/stylesheets/foundation-icons.css")
    %link(rel="stylesheet" href="/stylesheets/github.css")
    %link(rel="stylesheet" href="/stylesheets/customizations.css")
    %link(rel="icon" type="image/png" href="/images/favicon.png")

  %body
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1

    -if not flash.empty?
      %div.row
        %div.large-12.columns.panel.alert-box.success.text-center
          =styled_flash


    %div.row
      %nav.breadcrumbs
        = yield_content(:breadcrumb)

    = yield(:body)


    %div.container
      %div.row.footer
        %div.large-12.columns.text-center
          Copyright © 2014 carlescliment.com

    = yield_content(:javascripts)
