!!!
%html

  %head
    %link(rel="stylesheet" href="stylesheets/foundation.min.css")
    %link(rel="stylesheet" href="stylesheets/foundation-icons.css")
    %link(rel="stylesheet" href="stylesheets/customizations.css")


  %body
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            %a{ :href => '/' } Carles Climent

  -if not flash.empty?
    %div.row
      %div.large-12.columns.panel.alert-box.success.text-center
        =styled_flash

  = yield

  %div.container
    %div.row.footer
      %div.large-12.columns.text-center
        Copyright © 2013 carlescliment.com