!!!
%html

  %head
    %link(rel="stylesheet" href="stylesheets/foundation.css")
    %link(rel="stylesheet" href="stylesheets/customizations.css")


  %body
    %nav.top-bar.hide-for-smal
      %ul.title-area
        %li.name
          %h1
            %a{ :href => '/' } Carles Climent

    = yield
