- content_for(:javascripts) do
  %script(type="text/javascript" src="/javascript/disqus.js")

- content_for(:title) do
  =post.title

- content_for(:breadcrumb) do
  %a{ :href => '/'} Carles Climent
  %a{ :href => '/blog'} Blog
  %a.current{ :href => '#' }
    =post.title

=haml :_post, :locals => { :post => post }

%div.row
  %div.large-12.columns#disqus_thread

