- content_for(:title) do
  =post.title

- content_for(:breadcrumb) do
  %a{ :href => '/'} Carles Climent
  %a{ :href => '/publications'} Publications
  %a.current{ :href => '#' }
    =post.title

=haml :_post, :locals => { :post => post }
