- content_for(:title) do
  Publications

- content_for(:breadcrumb) do
  %a{ :href => '/'} Carles Climent
  %a.current{ :href => '#'} Publications



%div.row#post
  %h1.text-center Publications

  %div.large-12.columns
    %ul
      - index.page_posts.each do |post|
        %li.publication
          %p
            %a{ :href => post.href }
              =post.title
            published on
            =post.format_date

%div.row
  %div.large-12.columns
    = haml :_pager, :locals => { :index => index }