.extra-padding-top {
    padding-top: 10px;
}

textarea { height: auto; }

i.large {
    font-size: 50px;
    line-height: 50px;
}
i.medium {
    font-size: 35px;
    padding: 0 5px;
}
.container{
    padding: 0 20px;
}
.footer{
    padding-bottom: 20px;
    color: #999;
}
