contact:
  from_address: info@whatever.com
  to_address: to@whatever.com

blog:
  source_dir: _posts
  max_per_page: 10

publications:
  source_dir: _publications
  max_per_page: 10

mailer:
  transport: "smtp"
  host: "smtp.host.com"
  port: 22
  username: "carlescliment"
  password: "the_password"
